* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom-zoom {
    position: absolute;
    z-index: 999;
}
a.skiplink {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
a.skiplink:focus {
    clip: auto;
    height: auto;
    width: auto;
    background-color: #fff;
    padding: 0.3em;
}
#map {
    height: 100vh;
}
#map:focus {
    outline: #4a74a8 solid 0.15em;
}
